nody {}

.traffic-color {
    background-color: black;
}

#handle {
    width: 1.5vw;
    height: 20vh;
}

#traffic-box {
    width: 10vw;
    height: 50vh;
}

.light {
    width: 85%;
    border-radius: 100%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}